body {
  background-color: white;
}
h1 {
  text-align: center;
  color: LightGray;
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 500%;
  border: 1px solid #000000;
  padding: 30px;
}
