@media only screen and (max-width: 400px) {
body {
  background-color: white;

}
}
h1 {
  text-align: center;
  color: LightGray;
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 500%;
  border: 2px solid LightGray;
  padding: 30px;
}
h2 {
  color: black;
  font-family: URW Chancery L, cursive;
  font-size: 150%
  padding: 30px;
  margin right: 15
}
h3 {
  font-family: URW Chancery L, cursive;
  display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
img {
  max-width: 100%;
  padding: 100 50px;
  border: 5px solid black

}

#header {width:100%; height: 50px;text-align: left;
  color: LightGray;
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  display: inline-block;
  margin right: 5;
  padding: 0;
}
#navbar{width:1000px;height:30px;border:1px solid white;float:right;}
#navbar a {
  display: inline-block;
  padding: 0 1em;
}
#navbar>li{width:250px;list-style:none;float:right;}
li>a{display:list-item;color:LightGray;line-height:30px;text-align:left;font-family: Didot;}
li a:hover{border-style: inset; background:#bb99ff;color:inherit;}

p {
  font-family: Courier New, monospace;
  font-size: 125%;
  color:gray;
  text-align: center;
}

.flex-container1 {
  display: flex;
flex-flow: row wrap;
  justify-content: space-around;
  margin: auto;
}

.flex-container2 {
  display: flex;
flex-flow: row wrap;
  justify-content: space-around;
  margin: auto;
}

.flex-container3 {
  display: flex;
flex-flow: row wrap;
  justify-content: space-around;
  margin: auto;
}

div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 400px;
  }

  div.item2 {
      vertical-align: top;
      display: inline-block;
      text-align: center;
      width: 400px;
    }

  .caption {
    display: block;
    font-family: Courier New, monospace;
    font-size: 90%;
    color:gray;
     padding-bottom: : 700px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  font-family: Courier New, monospace;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #bb99ff;
  font-family: Courier New, monospace;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: LightGray;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  font-family: Courier New, monospace;
  padding: 20px;
}

footer {
  display: block;
}
